<div class="container">
    <div class="inicio-container">
        <h1 class="text-center">Sistema de Apoyo al Registro y Control de Colectivos Coreograficos</h1>
        <h3 class="text-center">Bienvenidos al sistema de apoyo para colectivos coreograficos</h3>
        <p class="text-center">Conoce todo acerca de los procesos de seleccion de Colectivos
            coreográficos. En esta sección encontraras noticias, procesos 
            pendientes y comentarios
        </p>
        <div class="text-center">
            <button class="btn btn-secondary btn-lg " [routerLink]="['/login']">
                Ingresar
            </button>
            <button class="btn btn-outline-secondary btn-lg">
                Noticias
            </button>
        </div>

        
        
    </div>
</div>

