<div class="container">
    <div class="inicio-container">
        <h1>Sistema de Apoyo al Registro y Control de Colectivos Coreograficos</h1>
        <h2>Bienvenidos al sistema de apoyo para colectivos coreograficos</h2>
        <p>Conoce todo acerca de los procesos de seleccion de Colectivos
            coreográficos. En esta sección encontraras noticias, procesos 
            pendientes y comentarios
        </p>
        <button class="btn btn-secondary">
            Ingresar
        </button>
        <button class="btn btn-outline-secondary">
            Noticias
        </button>
    </div>
</div>